body {
  text-align: center;
  font-family: Verdana;
  background: url("../images/infinity.jpg") no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.page_navbar {
  color: #fff;
  font-size: 60px;
  padding-bottom: 10px;
}
 
small#artist {
  font-size: 13px;
  font-style: italic;
}

input.form-control {
  margin-top: 50px;
}

input.profile_spacing {
  margin-top: 0px;
}

input {
   text-align:center;
}

div.login_from_navbar {
  margin-top: 8px;
}

h2.error_style {
  font-weight: 900;

}

ul.errors {
  list-style-type: none;
}

.nav_padding {
  padding-bottom: 30px;
}

#search_bar {
  margin-right: -300px;
}
